@model OdeToFood2017.Entities.Restaurant

@{ 
    ViewBag.Title = "Details";
}
    <h1>@Model.Name</h1>
    <p>Id = @Model.Id</p>
    <p>Cuisine: @Model.Cuisine</p>
    <div>
        @*<a href="/">Home</a>*@
        @Html.ActionLink("Home","Index");
    </div>


